body,
html {

    background-color: #011015;
}
h1 {

        color: #a24929;
}

h3, li {

        color: #ad6a2a;
}

p {

        color: #8e6f21;
}

img{
    border-radius:  50%;
    border:5px dotted #043645;
}